{{template "wage/header"}}
    <style >
        .sitemap{list-style: none;}
        .sitemap a{color: black}
        .sitemap a:hover{color: #4991f9}
        .sitemap li{padding-top: 1rem;}
    </style>
<div class="container">
    <ul class="sitemap">
        <li><a href="/city/beijing/5000">北京工资5000，税后多少钱</a></li>
        <li><a href="/city/beijing/6000">北京工资6000，税后多少钱</a></li>
        <li><a href="/city/beijing/7000">北京工资7000，税后多少钱</a></li>
        <li><a href="/city/beijing/8000">北京工资8000，税后多少钱</a></li>
        <li><a href="/city/beijing/9000">北京工资9000，税后多少钱</a></li>
        <li><a href="/city/beijing/10000">北京工资10000，税后多少钱</a></li>
        <li><a href="/city/beijing/12000">北京工资12000，税后多少钱</a></li>
        <li><a href="/city/beijing/15000">北京工资15000，税后多少钱</a></li>
        <li><a href="/city/beijing/20000">北京工资20000，税后多少钱</a></li>
        <li><a href="/city/beijing/25000">北京工资25000，税后多少钱</a></li>
        <li><a href="/city/beijing/30000">北京工资30000，税后多少钱</a></li>
        <li><a href="/city/beijing/35000">北京工资35000，税后多少钱</a></li>
        <li><a href="/city/beijing/40000">北京工资40000，税后多少钱</a></li>
        <li><a href="/city/beijing/50000">北京工资50000，税后多少钱</a></li>
    </ul>
</div>
{{template "wage/footer"}}