
<!doctype html>
<html lang="zh">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.huangwx.cn/css/sweetalert.css">
    <link rel="stylesheet" href="/static/Travel/css/city.css">

    <title>慈铭奥亚【免下车核酸检测】</title>
    <meta name="keywords" content="返乡政策,返乡,疫情,出行,北京,上海,深圳,广州">
    <meta name="description" content="乡愁是一张小小的邮票，现在，乡愁是一份核酸检测报告。慈铭奥亚祝您回乡一路顺风">
</head>
<style>
    body{background-color: #ff86c6;padding: 0;margin: 0}
    .thead{color: white;
        background-color: #4991f9;}
    @media (min-width: 768px) {
        .form-horizontal .control-label {
            text-align: right;
            margin-bottom: 0;
            padding-top: 7px;
        }
    }
    a{color: white;}
    a:hover{color: aqua}
    .form-horizontal{margin-left: -1rem}
    .city_link{ padding-top: 2rem}
    .city_link span{padding: 1rem}
</style>
<body>

    <div>
        <img src="https://financial.wjfdm.com/ciming_beijing.png" style="width: 100%;height: auto">
    </div>
    <div style="margin-top: -13rem;text-align: right;
    /*margin-right: 2rem*/
">
        <button type="button" class="btn btn-primary btn-lg" style="    border: none;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #AE4EBF;
    /*padding: 8px 25px;*/
    background-image: linear-gradient(-175deg,#9569FF, #225CFF);"  data-toggle="modal" data-target="#staticBackdrop">预约核酸检测:80￥/人</button>
        <div style="font-size: 10px;padding-top: 5px;color: #ffffff;padding-right: 25px;">最终解释权贵慈铭奥亚所有</div>

    </div>
    <div>
        <a style="position: fixed;bottom: 0;width: 100%;width: 100%;text-align: center;padding: .75rem;color: #ffffff;background-color: #227bff;" href="/travel">点 击 查 询 各 地 出 行 政 策</a>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://financial.wjfdm.com/ciming_banner1.jpeg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="https://financial.wjfdm.com/ciming_banner2.jpeg" class="d-block w-100">
                        </div>

                    </div>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">填报核酸预约信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">预约时间</label>
                            <select class="form-control" name="detect_time" id="exampleFormControlSelect1">
{{/*                                <option value="2021年02月04日">2021年02月04日</option>*/}}
{{/*                                <option value="2021年02月05日">2021年02月05日</option>*/}}
{{/*                                <option value="2021年02月06日">2021年02月06日</option>*/}}
{{/*                                <option value="2021年02月07日">2021年02月07日</option>*/}}
                                <option value="2021年02月08日">2021年02月08日</option>
                                <option value="2021年02月09日">2021年02月09日</option>
                                {{range .Conf}}
                                    <option value="{{.}}">{{.}}</option>
                                {{end}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">姓名</label>
                            <input type="text" name="realname" class="form-control" id="name">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">身份证号</label>
                            <input type="text" maxlength="18" name="idcard" class="form-control" id="idNum">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">手机号</label>
                            <input type="text" maxlength="11" name="mobile" class="form-control" id="mobile">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">验证码</label>
                            <div class="input-group mb-3">
                                <input type="text" maxlength="6" name="code" class="form-control" id="code">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary"
                                            id="TencentCaptcha"
                                            data-appid="2070863745"
                                            data-cbfn="callback"
                                            type="button">发送短信验证码</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck">
                            <label class="form-check-label" for="exampleCheck">确认最终解释权归慈铭所有</label>
                            <small id="emailHelp" class="form-text text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg>
                                地址：中国北京市朝阳区北苑路91号慈铭大厦</small>
                            <small id="emailHelp" class="form-text text-muted">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                </svg>
                                遵守信息保密原则，不会泄露您的个人信息
                            </small>
                        </div>
                        <input id="load" type="reset" style="display:none;" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消预约</button>
                    <button id="submit" type="button" class="btn btn-primary">确认申请</button>
                </div>

            </div>
        </div>
    </div>

    <input type="hidden" value="{{.Wx.Timestamp}}" id="timestamp">
    <input type="hidden" value="{{.Wx.NonceStr}}" id="nonceStr">
    <input type="hidden" value="{{.Wx.Signature}}" id="signature">

    <!-- Optional JavaScript -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://www.huangwx.cn/js/sweetalert-dev.js"></script>
    <script src="/static/Ciming/js/base.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?4aab653497c9906d96cc24d117c692a7";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>